<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<servlet>
		<servlet-name>UserC</servlet-name>
		<servlet-class>servlet.CreatUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Twist</servlet-name>
		<servlet-class>servlet.AddComment</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Twist</servlet-name>
		<url-pattern>/Twist</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserC</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
</web-app>