html
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url("../../../../../WebRef/Projet_3I017/projet_3I017/WebContent/image/background_blue.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#main_inscription
{
    margin:auto;
    width: 50%;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: Arial, serif;
    animation: fadein 2s;
    position: relative;
    top:0px;
}

@keyframes fadein
{
    from        /* Gére l'opacité */
    {
        opacity:0;
    }
    to
    {
        opacity:1;
    }
    0%          /* Gére le mouvement */
    {
        top:50px;
    }
    100%
    {
        top:0px;
    }
}

#main_inscription span
{
    float: left;
    width: 100px;
    margin-right: 0.3em;
    margin-top: 8px;
}

/* L'header */
#header{
    border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100%;
	position: relative;
	display: inline-flex;
}

#title{
	position: absolute;
	left:70px;
	transform: translate(0,-50%);
	top: 50%;
	font-family: Georgia;
	font-size: 3em;
}

#logo{
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}

#logo_img{
  width: inherit;
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
}

.ids
{
    margin-bottom: 2em;
}

#nom
{
    float: left;
    margin-right: 1.5em;
}

#prenom
{
    display: inline-block;
}

#indication
{
	font-size: 15px;
}
#mail
{
    display:flex;
    flex-direction:row
}

#mdp2
{
    display: block;
}

#input_mail
{
    flex:1;
}

#submit_button
{
    float:right;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #0099ff;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}

#submit_button:hover
{
    background: #66b3ff;
    color: #fff;
}

#cancel_button
{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #0099ff;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}

#cancel_button:hover
{
    background: #66b3ff;
    color: #fff;
}

footer
{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#logo_github:hover
{
    fill:#fff;
}

.lien_github
{
    float: right;
	cursor: pointer;
	margin-bottom: 12px;
	margin-left: 20px;
}

#main_inscription input[type=text], input[type=password], input[type=email]
{
    padding: 8px 20px;
    border: 2px solid #fff;     /* Remplace les bordures qui par défaut sont grises */
    border-radius: 5px;
    transition: 0.5s;
    outline: none;
}

#main_inscription input[type=text]:focus, input[type=password]:focus, input[type=email]:focus
{
    border: 2px solid #007acc;
    border-radius: 5px;
}

#main_inscription input[type=submit]:hover
{
    background: #66b3ff;
    color: #fff;
}

input:invalid {
  border: 2px solid red;
}

#about{
	width: 28px;
	height: 28px;
	transform: translate(-18%,-6%);
	padding-left: 14px;
}

#about_img{
	width: inherit;
	height: inherit;
}